<?xml version='1.0' encoding='utf-8'?>
<widget id="com.collabers.app" version="1.0.14" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">

    <name>Collabers</name>
    <description>Collabers</description>
    <author email="jordie@collabers.com" href="https://collabers.com">
        Jordie Puchinger
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="phonegap-version" value="3.3.0" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
        
        <preference name="ios-statusbarstyle" value="black-opaque" />
        
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="android-minSdkVersion" value="10" />
    <preference name="android-targetSdkVersion" value="16" />
    <preference name="android-installLocation" value="auto" />
    
    <!-- Default Icon -->
        <icon src="icon.png" />
    <!-- Android Icon Set -->
        <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/icon-36-ldpi.png" />
        <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/icon-48-mdpi.png" />
        <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/icon-72-hdpi.png" />
        <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/icon-96-xhdpi.png" />
    <!-- iOS Icon Set -->
        <icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57" />
        <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
        <icon gap:platform="ios" height="114" src="res/icon/ios/icon-57-2x.png" width="114" />
        <icon gap:platform="ios" height="144" src="res/icon/ios/icon-72-2x.png" width="144" />

    <gap:splash gap:density="ldpi" gap:platform="android" src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:density="mdpi" gap:platform="android" src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:density="xhdpi" gap:platform="android" src="res/screen/android/screen-xhdpi-portrait.png" />

    <gap:splash gap:platform="ios" width="1024" height="783" src="res/screen/ios/screen-ipad-landscape.png" />
    <gap:splash gap:platform="ios" width="2008" height="1536" src="res/screen/ios/screen-ipad-landscape-2x.png" />
    <gap:splash gap:platform="ios" width="768" height="1004" src="res/screen/ios/screen-ipad-portrait.png" />
    <gap:splash gap:platform="ios" width="1536" height="2008" src="res/screen/ios/screen-ipad-portrait-2x.png" />
    <gap:splash gap:platform="ios" width="480" height="320" src="res/screen/ios/screen-iphone-landscape.png" />
    <gap:splash gap:platform="ios" width="960" height="640" src="res/screen/ios/screen-iphone-landscape-2x.png" />
    <gap:splash gap:platform="ios" width="320" height="480" src="res/screen/ios/screen-iphone-portrait.png" />
    <gap:splash gap:platform="ios" width="640" height="960" src="res/screen/ios/screen-iphone-portrait-2x.png" />
    <gap:splash gap:platform="ios" width="640" height="1136" src="res/screen/ios/screen-iphone-portrait-568h-2x.png" />

</widget>